python-docx==0.8.11
loguru==0.7.0
openai==0.27.8
pyperclip==1.8.2
pytest==7.4.0
quart==0.18.4
aiohttp==3.8.4
gunicorn==20.1.0
gevent==22.10.2
duckduckgo-search==3.8.3
openapi_schema_pydantic==1.2.4
numexpr==2.8.4
google-search-results==2.4.2
langchain==0.0.228
faiss-cpu==1.7.4
tiktoken==0.4.0
pytest-xdist==3.3.1
SocksiPy-branch==1.01
oauth2client==4.1.3
google-api-python-client==2.92.0
meilisearch==0.28.1
azure-cognitiveservices-speech==1.30.0
pymilvus==2.2.13
chromadb==0.3.26
openpyxl==3.1.2
unstructured[local-inference]
fire==0.5.0
regex==2023.6.3
pydantic==2.0.2
pybind11==2.10.4
