python-docx==0.8.11
loguru
openai
pyperclip==1.8.2
pytest==7.2.2
aiohttp
duckduckgo-search
google-search-results
langchain
faiss-cpu
tiktoken
pytest-xdist
google-api-python-client
meilisearch
azure-cognitiveservices-speech
pymilvus
chromadb
openpyxl
unstructured[local-inference]
fire
regex
pydantic
pybind11