python-docx==0.8.11
loguru==0.5.3
openai
pyperclip==1.8.2
pytest==7.2.2
python_docx==0.8.11
selenium==4.8.2
quart
aiohttp
gunicorn
gevent
duckduckgo-search
openapi_schema_pydantic
numexpr
google-search-results
langchain
faiss-cpu
tiktoken
pytest-xdist
socksipy-branch
oauth2client
google-api-python-client
meilisearch
azure-cognitiveservices-speech
pymilvus
chromadb
openpyxl
unstructured[local-inference]
fire
