aiohttp==3.8.6
loguru==0.6.0
numpy~=1.26.4
pydantic>=2.5.3
PyYAML==6.0.1
setuptools==65.6.3
tenacity==8.2.3
tiktoken==0.7.0
aiofiles==23.2.1
rank-bm25==0.2.2  # for tool recommendation
tree_sitter~=0.23.2
tree_sitter_python~=0.23.2
chardet==5.2.0
anthropic==0.47.2